<div id='header'>
  <h1>Word Definer</h1>
</div>
<div class="page_content">
  <h2>Word: <span class="highlight_word"><%= @word.term %></span></h2>

  <% if @word.meanings.any? %>
  <h3>Definitions: </h3>
      <ol>
        <% @word.meanings.each do |definition| %>
          <li><a class="highlight_definition" href="/words/<%= @word.id %>/definitions/<%= definition.id %>"><%= definition.meaning %></a></li>
        <% end %>
      </ol>
    <% else %>
      <p>There are no definitions listed for this word yet.</p>
    <% end %>

  <h4>Add a definition:</h4>

  <form action="/words/<%= @word.id %>/definitions" method="post">
    <input id="definition" class="form_input" name="definition" class="form-control" type="text">
    <br><br>
    <button type="submit" class="btn btn-info">Add definition</button>
  </form>
  <br>

  <p><a href="/words/<%= @word.id %>/edit">Edit word</a></p>
  <p><a href="/words">Return to word list</a></p>
</div>